.haxefolio-page-container {
    padding: 10px;
}

.haxefolio-hamburger-button {
    pointer-events: true;
    background-color: yellow;
    background-opacity: 0;
}

.haxefolio-site-name-label {
    pointer-events: true;
    white-space: nowrap;
    color: #333333;
    font-name: 'haxefolio/fonts/Futura.ttf';
    font-weight: 600;
    font-size: 20px;
    padding-left: 7px;
    background-color: yellow;
    background-opacity: 0;
}

.haxefolio-site-name-label:hover {
    color: #428fd8;
}

.haxefolio-site-name-label:disabled {
    color: $disabled-text-color;
}

.haxefolio-menubar > .menubar-button {
    font-weight: 300;
    color: $normal-text-color;
}

.haxefolio-menubar > .menubar-button:hover {
    background-color: #eeeeee;
    color: #333333;
}

.haxefolio-menubar > .menubar-button:disabled {
    color: $disabled-text-color;
}

.haxefolio-menubar > .icon {
    width: 16px;
    height: 16px;
}

.haxefolio-sidebar-entries-top-spacer {
    height: 5px;
}

.haxefolio-sidebar-group-header {
    font-italic: true;
    margin-left: 10px;
    color: #666666;
}

.haxefolio-sidebar-group-item {
    margin-left: 30px;
    color: #666666;
    pointer-events:true;
    background-color: yellow;
    background-opacity: 0;
}

.haxefolio-sidebar-group-item:hover {
    color: #999999;
}

.haxefolio-preference-row {
    height: 40px;
}

.haxefolio-preference-name-label {
    width: 160px;
}

.haxefolio-preference-autosave-notice {
    font-italic: true;
    color: #999999;
}

.haxefolio-overlay-sidebar {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.haxefolio-overlay-close-button {
    pointer-events: true;
    width: 14px;
    height: 14px;
    resource: 'haxefolio/images/close_btn_icon.svg';
}

.haxefolio-overlay-close-button:hover {
    opacity: 0.6;
}

.haxefolio-overlay-backdrop {
    pointer-events: true;
}

.haxefolio-overlay-modal {
    pointer-events: true;
    background-color: $solid-background-color;
    padding: 10px;
    filter: drop-shadow(1, 45, #000000, 0.15, 30, 2, 1, 3, false);
}

#haxefolio-overlay-preference-modal {
    width: 480px;
    height: 360px;
}

#haxefolio-preference-tabview .icon {
    width: 16px;
    height: 16px;
}

.switch-button-sub {
    background-color: #cccccc;
}

@keyframes switchAnimateSelectedPill {
    0% {
        pos: 0;
        background-color: #cccccc;
    }
    100% {
        pos: 100;
        background-color: $selection-background-color;
    }
}
