<?xml version="1.0" encoding="utf-8" ?>
<module id="haxefolio" priority="-1">
    <resources>
        <resource path="${module}/assets/fonts" prefix="haxefolio/fonts" />
        <resource path="${module}/assets/images" prefix="haxefolio/images" />
        <resource path="${module}/assets/locale" prefix="haxefolio/locale" />
        <resource path="${module}/assets/layouts" prefix="haxefolio/layouts" />
        <resource path="${module}/assets/styles" prefix="haxefolio/styles" />
    </resources>
    <themes>
        <default>
            <var name="ui-family-regular" value="haxefolio/fonts/Onest-Regular.woff2" />
            <var name="ui-family-medium" value="haxefolio/fonts/Onest-Medium.woff2" />
            <var name="ui-family-semibold" value="haxefolio/fonts/Onest-SemiBold.woff2" />
            <var name="mono-family-regular" value="haxefolio/fonts/IBMPlexMono-Regular.woff2" />
            <var name="mono-family-medium" value="haxefolio/fonts/IBMPlexMono-Medium.woff2" />

            <style resource="haxefolio/styles/main.css" priority="0" />
        </default>
    </themes>
</module>
