<?xml version="1.0" encoding="utf-8" ?>
<module id="haxefolio" priority="-1">
    <resources>
        <resource path="${module}/assets/fonts" prefix="haxefolio/fonts" />
        <resource path="${module}/assets/images" prefix="haxefolio/images" />
        <resource path="${module}/assets/locale" prefix="haxefolio/locale" />
        <resource path="${module}/assets/layouts" prefix="haxefolio/layouts" />
        <resource path="${module}/assets/styles" prefix="haxefolio/styles" />
    </resources>
    <themes>
        <default>
            <style resource="haxefolio/styles/main.css" priority="-1" />
        </default>
    </themes>
</module>
